body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-color: black;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
.logo{
  width: 400px;
  display: block;
}
.left{
  float: left;
}
.right{
  float :right;
}
footer>p {
  text-align: right;
  color:  rgb(255, 213, 0);
}
h1{
  color:  rgb(255, 213, 0);
}
h2{ 
  color: rgb(0, 136, 255);
}
p{
  color: white;
}
.tile-image {
  height: 200px;
  width: fit-content;
  float: left;
  margin-right: 50px;

}
.card {
  width: 45%;
}
@media(max-width:680px){
  .logo{
   width: 400px;
  }
  h1{
    font-size: 3rem;
  }
  h1,h2{
    text-align: center;
  }
  .card{
    display: block;
    text-align: justify;
    width:100%;
  }
  .card img{
    display: inline;
    width:100%
  }
}
